html {
  overflow-y: hidden;
}

canvas {

  }
body
{
  margin: 0;
  background-color: "#DDDDDD";
}
#container {
    position: relative;
    background-color: black;
    text-align: center;
}
#container img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */

    float: middle;
	
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#img1
{
  display: block;
      margin-left: auto;
      margin-right: auto;
}
#img2
{
  opacity: .0;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}







#holder-canvas
{
	position:relative;
	position:relative;
	bottom: 0;
	z-index: -1;
	
}












